/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(/editor/fonts/opensans/opensans-lightitalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/editor/fonts/opensans/opensans-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/editor/fonts/opensans/opensans-bolditalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/editor/fonts/opensans/opensans-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/editor/fonts/opensans/opensans-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/editor/fonts/opensans/opensans-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* imports */
@import "../tapestry/theme.less";

.box{font-family:Jaldi, Arial, Helvetica, sans-serif; font-size:13px; font-weight:300; letter-spacing:0;
    textarea, input, select{font-family:Jaldi, Arial, Helvetica, sans-serif; font-size:13px; font-weight:300; letter-spacing:0;}
    h1, h2, h3, h4, h5, h6, .col, .row{font-family:Jaldi, Arial, Helvetica, sans-serif; font-size:13px; font-weight:300; letter-spacing:0;}
    .box(transparent, transparent, #ddd);
    .links(#0099FF, #006bff, #006bff, #0099FF);
    .icons(#ccc, #0099FF, #0099FF, #ccc);
    .row(transparent, #202e3c, #0e375e, #ddd, #b1d3ea, #cde4f3, #0099ff, #007aff, #007aff, #0099ff, #6ac3ff, #ddd, #fff, #77bbe9, #77bbe9);
    .fonts(#ddd, #ddd, #009B87, #4DA400, #FF2222, #376EB2);
    .input(#2a2a2a, #ddd, #444, #555, #2a2a2a, #ddd, #274052, #2a2a2a, #ddd, #185682, #7eccff, #40b4ff);
    .line(#2f2f2f); 
    .button(default,  #0082ff, #004eff, #004eff, #0082ff, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(special,  #6666ff, #5353f7, #5353f7, #5353f7, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(cancel,   #696969, #31be85, #31be85, #31be85, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(disabled, #a9d7ec, #a9d7ec, #a9d7ec, #a9d7ec, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(delete,   #5d4040, #c95454, #c95454, #c95454, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #d4a6a6, #fff, #fff, #fff);
    .message(default, #31516c, transparent, #94d3ff, #14f4ff);
    .message(error,   #8d4444, transparent, #fec5c5, #ffd28e);
    .message(alert,   #595928, transparent, #dbd47f, #ffed0f); 
    .message(confirm, #385425, transparent, #9dd7b3, #4fd77f); 

    @perc:3%;
    @perc2:1%;
    .table(
        #2f2f2f, #949494, #949494, #949494, #949494, #949494, //table header
        #272727, #113454, #003b73, #fff, #fff, #fff, #0099FF, #006bff, #006bff, #0099FF, #0099FF, #006bff, #006bff, #0099FF, //row
        darken(#2b2b2b, @perc), darken(#113454, @perc2), darken(#003b73, @perc2), darken(#fff, @perc), darken(#fff, @perc), //alt row
        darken(#fff, @perc), darken(#0099FF, @perc), darken(#006bff, @perc), darken(#006bff, @perc), darken(#0099FF, @perc), //alt row
        darken(#0099FF, @perc), darken(#006bff, @perc), darken(#006bff, @perc), darken(#0099FF, @perc)//alt row
    );
}

.box.bg{background:#1d1d1d;}
.menu-bar .box.bg, .file-browser, .code-bar, .box .tooltip{
    background:#2a2a2a;
    .line(#444); 
}
.box .toolbar, .box .menu-bar, .box .drop-menu{background:#222;}
.box .code-bar{color:#999;}
.box .content-fields .code{background:#353535; }
.box .section, .popup{
    .box(#222, #444, #ddd); 
}
.box .tabs li.selected > .row{border-bottom-color:#0099ff; }
.box header{
    .box(#222222, transparent, #ddd); 
}
.editor-tab .box{
    &.bg{background-color:#1d1d1d;}
    .icons(#ddd, #0099FF, #0099FF, #0099FF);
    .row(transparent, #004d81, #004d81, #eee, #a0d9ff, #a0d9ff, #0099FF, #0099FF, #0099FF, #0099FF, #0099FF, #eee, #a0d9ff, #a0d9ff, #a0d9ff);
}
.editor-tab:hover > .box{
    &.bg{background-color:#00295e;}
}
.editor, .popup{
    .img .menu{background:#2a2a2a; padding-bottom:0;
        li{
            &:hover{background:#124d80;}
            a:link, a:visited{color:#a9d1ec;}
            a:hover{color:#82c6f5;}
            a:active{color:#3eb1ff;}
        }
    }
}
.box .menu-bar {
    & > ul > li > .row.hover:hover{background:#0082ff; color:#fff;}
    .drop-menu{
        @menu-color:#eee;
        .row, .row:hover {
            a:link, a:hover, a:visited, a:active{color:@menu-color; text-decoration:none;}
        }
        li{
            .row.hover:hover{background:#0082ff; color:@menu-color; fill:@menu-color;}
            use{color:@menu-color; fill:@menu-color;}
        }
        .shortcut-key{border-bottom-color:@menu-color;}
    }
}
.box .file-bar, .box .accordion > .title{background:#2a2a2a}
.box{
    p{color:#777;}
    .edit-bar li {
        & > div{ background:#363636;
            &:not(.selected):hover{background:#0082ff; color:#fff; fill:#fff;}
            &.selected{background:#2a2a2a;
                &:hover{background:#2a2a2a;}
            }
        }
        .icons(#fff, #fff, #fff, #fff);
    }
    .tab-toolbar{
        .button{background:rgba(255,255,255,0.1);
            &:hover{background:#0082ff;}
        }
    }
    .file-bar{
        .row.hover:hover{background:#0082ff;}
        .file-path{color:#90d3ff;}
    }
    .file-browser{
        &::-webkit-scrollbar-track {
            background:#262626;
        }
        &::-webkit-scrollbar-thumb {
            background: #444444;
        }
    }
    .components-menu{background:#333; 
        &:after{border-bottom-color: #333 !important; }
        .component-item{border-bottom-color:rgba(255,255,255,0.1);}
        p{color:#ccc;}
    }
    ul.list li:hover{background:#1a2834;}
    .browser-path{color:#90d3ff;}
    .resources-list{
        .img{background-color:#000;}
        .img:hover{background-color:#111;}
        .close-btn use{color:#cc0000; fill:#cc0000; }
        .close-btn:hover use{color:#ff0000; fill:#ff0000;}
    }
    .accordion .expander:hover{background:#125997;}
    .accordion > .title{
        .button:hover{background:#125997 !important;}
        &:hover{background:#1c2f40 !important;}
    }
    .tooltip-container{
        .tooltip{background:#333; color:#eee;
            .below:after{border-bottom-color: #333;}
            p{color:#999;}
        }
    }
    .code{background-color:#2a2a2a;
        .tag{color:#569cd6;}
        .attr{color:#9cdcfe;}
        .gt, .lt{color:#807e77;}
        .value{color:#ce916a;}
        .mustache, &.mustache{color:#2aa522;}
        .string, &.string{color:#97bc3d;}
        .path, &.path{color:#97bc3d;}
        &.csharp{ color:#eee;
            .namespace{color:#eee;}
            .keyword{color:#569cd6;}
            .type{color:#3ac9b0;}
            .interface{color:#b8d7a3;}
            .enum{color:#b8d7a3;}
            .method{color:#eee;}
            .var{color:#eee;}
            .field{color:#eee;}
            .statement{color:#569cd6;}
            .string{color:#c39178;}
        }
        &.sql{ color:#eee;
            .keyword{color:#569cd6;}
            .datatype{color:#569cd6;}
            .internal{color:#b0704d;}
            .string{color:#c8362c;}
            .function{color:#c66cae;}
            .number{color:#b2cba5;}
        }
        .comment{color:#6a9955;}
    }
    hr{border-top-color:rgba(255,255,255,0.2);}
    .dragging{background-color:#1d3323;}
    .has-content-fields{
        .content-field:hover .accordion{
            & > .title{background-color:#273e55;
                &:hover{background-color:#2c4b66 !important;}
            }
            li:hover{background-color:#273e55;}
        }
    }
}
