/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(/fonts/opensans/opensans-lightitalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/opensans/opensans-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/fonts/opensans/opensans-bolditalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans/opensans-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/opensans-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans/opensans-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* imports */
@import "../tapestry/less/theme.less";

.box{
    font-family: Jaldi, Arial, Helvetica, sans-serif;
    .box(transparent, transparent, #444);
    .links(#0099FF, #006bff, #006bff, #0099FF);
    .icons(#555, #0099FF, #0099FF, #555);
    .row(transparent, #9bd7ff, #0099FF, #444, #33494C, #13474F, #009B87, #00C5C7, #00C5C7, #009B87, #0099FF, #555, #009B87, #00A46C, #fff);
    .fonts(#222, fade(#222, 30%), #009B87, #4DA400, #FF2222, #376EB2);
    .input(#fff, #444, #cccccc, #aaa, #fff, #444, #ddd, #fff, #444, #9bd7ff, #114b4b, #114b4b);
    .line(#e6e6e6); 
    .button(default,  #0099FF, #0082ff, #0082ff, #0099FF, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(apply,    #0099FF, #0082ff, #0082ff, #0099FF, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(special,  #9b56ab, #7900b4, #7900b4, #7900b4, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(cancel,   #7dd0ae, #31be85, #31be85, #31be85, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(disabled, #a9d7ec, #a9d7ec, #a9d7ec, #a9d7ec, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .button(delete,   #d07d7d, #c95454, #c95454, #c95454, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    .message(default, #8ccaef, transparent, #0066ff);
    .message(error,   #dc8a8a, transparent, #b30b0b);
    .message(alert,   #dbdb86, transparent, #d79c0c); 
    .message(confirm, #92e061, transparent, #228f4b); 

    @perc:3%;
    @perc2:1%;
    .table(
        #d1eff2, #2a898d, #0c7946, #00ab5b, #00ab5b, #0c7946,
        #fafafa, #ddf0f0, #5EC7CE, #444, #1e3b41, #00343e, #009B87, #00C5C7, #00C5C7, #00C5C7, #009B87, #00C5C7, #00C5C7, #00C5C7,
        darken(#fafafa, @perc), darken(#ddf0f0, @perc2), darken(#5EC7CE, @perc2), darken(#444, @perc), darken(#1e3b41, @perc), 
        darken(#00343e, @perc), darken(#009B87, @perc), darken(#00C5C7, @perc), darken(#00C5C7, @perc), darken(#00C5C7, @perc), 
        darken(#009B87, @perc), darken(#00C5C7, @perc), darken(#00C5C7, @perc), darken(#00C5C7, @perc)
    );
}

.box.bg{
    background:#eee;
}

.box .section, .popup{
    .box(#fafafa, #dadada, #444); 
}

.box .tabs li.selected > .row{
    border-bottom-color:#0099FF; 
}

.box .edit-tabs ul.tabs{ 
    .row(#dadada, #d0d0d0, #9bd7ff, #444, #33494C, #13474F, #009B87, #00C5C7, #00C5C7, #009B87, #00B4FF, #555, #009B87, #00A46C, #185A64);
}

.box header{
    .box(#222222, transparent, #ddd); 
}

.editor-tab .box{
    &.bg{background-color:#222;}
    .icons(#eee, #0099FF, #0099FF, #0099FF);
    .row(transparent, #004d81, #004d81, #eee, #a0d9ff, #a0d9ff, #0099FF, #0099FF, #0099FF, #0099FF, #0099FF, #eee, #a0d9ff, #a0d9ff, #a0d9ff);
}
.editor-tab:hover > .box{
    &.bg{background-color:#00295e;}

}