<div class="row pad-top-sm">
    <div class="col right add-root-filter-group pad-right-sm">
        <div class="row hover light pad-sm" onclick="S.editor.fields.custom.list.filters.addGroup('{{datasource}}', event);">
            <div class="icon small" title="Add a new Filter Group to your List">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-folder-add" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
        </div>
    </div>
    {{no-content}}
        <div class="col text no-filtergroups faded">To begin, add a new <b>Filter Group</b>, then add a <b>Filter</b> to your new group</div>
    {{/no-content}}
</div>
<div class="row filter-groups pad-top-sm">{{content}}</div>
