<div class="row orderby orderby-input" data-column="{{column}}" draggable="true">
    <div class="row hover">
        <div class="col field long">{{label}}</div>
        <div class="col input orderby-direction">
            <select style="width:100px">
                <option value="0"{{asc}} selected="selected"{{/asc}}>Ascending</option>
                <option value="1"{{desc}} selected="selected"{{/desc}}>Descending</option>
            </select>
        </div>
        <div class="col text hover-only btn-close">
            <div class="icon small btn-close" onclick="S.editor.fields.custom.list.orderby.remove(event);" title="Remove Sorting Column">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
        </div>
    </div>
</div>