<div class="row pad-top-sm">
    <div class="col right add-orderby pad-right-sm">
        <div class="row hover light pad-sm" onclick="S.editor.fields.custom.list.orderby.add('{{datasource}}', event);">
            <div class="icon small" title="Add a new Filter Group to your List">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row orderby-list pad-top-sm">{{content}}</div>