<div class="row pad-top-sm">
    <div class="row hover">
        <div class="col field long">Starting Record</div>
        <div class="col input pad-right" style="width:100px">
            <input type="number" value="{{start}}" style="width:75px"/>
        </div>
        <div class="col text pad-right faded">URL Query String Parameter</div>
        <div class="col input" style="width:calc(100% - 400px)">
            <input type="text" value="{{start-query}}" placeholder="(optional)"/>
        </div>
    </div>
    <div class="row hover">
        <div class="col field long">Records Per Page</div>
        <div class="col input pad-right" style="width:100px">
            <input type="number" value="{{length}}" style="width:75px"/>
        </div>
        <div class="col text pad-right faded">URL Query String Parameter</div>
        <div class="col input" style="width:calc(100% - 400px)">
            <input type="text" value="{{length-query}}" placeholder="(optional)"/>
        </div>
    </div>
</div>