<tr data-id="{{id}}">
    <td class="nowrap pointer">{{label}}</td>
    <td class="nowrap pointer">{{type}}</td>
    <td class="nowrap pointer pad-right">{{from-name}}</td>
    <td class="nowrap pointer pad-right">{{from}}</td>
    <td class="hover-only del" style="width:45px">
        <div class="col right icon small btn-close pointer" onclick="S.editor.websettings.email.clients.remove('{{id}}')">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
            </svg>
        </div>
    </td>
</tr>