<li class="row apple-app-icon apple-app-{{px}}">
    <div class="col ten tablet-twelve">
        <h5>Apple App Icon ({{px}}x{{px}})</h5>
        <div>Select an icon to display for your web application. {{px}}x{{px}} png file only.</div>
    </div>
    <div class="col two tablet-twelve right">
        {{favicon-exists}}<div class="icon-img"><img src="{{src}}" /></div>{{/favicon-exists}}
        <button class="right">Upload Icon</button>
        <input type="file" id="upload_apple-app-{{px}}" class="hide" px="{{px}}" />
    </div>
</li>