<style>
    .app-settings .icon-img{display:inline-block; padding:0 15px 0 0; overflow:hidden; max-height:240px;}
    .app-settings .icon-img img{max-width:512px;}
    .app-settings .icon-img{text-align:center; padding:10px 5px 0 5px;}
    .apple-app-icon, .android-app-icon{max-width:512px;}
    .icon-settings .icon-img{padding:0 20px; margin-top:-5px;}
    .android-app-512 img{position:relative; top:-120px; left:-120px;}
    @media (max-width:1290px) {
        .android-app-512 .icon-img{position:relative; top:-120px;}
    }
    @media (max-width:768px) {
        .upload-web-icon > * {float:left !important;}
    }
</style>
{{accordions}}
{{vendor.accordions}}
{{vendor}}
