[submodule "App/Core"]
	path = App/Core
	url = http://github.com/datasilk/Core
[submodule "App/Scripts/platform"]
	path = App/Scripts/platform
	url = http://github.com/datasilk/corejs
[submodule "App/Scripts/selector"]
	path = App/Scripts/selector
	url = http://github.com/websilk/selector
