@import "tapestry/tapestry.less";

.box{font-size:13px;
    input, select, textarea{font-size:13px;}
}
.box *{box-sizing:border-box;}
.box, .bg{width:100%;}

.for-popup{background-color:rgba(0,0,0,0.75); position:absolute; top:0; right:0; bottom:0; left:0; z-index:7777;
    & > .popup{
        position:absolute; min-width:200px; z-index:5000; max-height:100%; overflow-y:auto; overflow-x:hidden; padding:20px; margin:0 auto;
        &.pos-center{margin:0 auto;}
        &.pos-right{right:0;}
        .btn-close{position:absolute; right:0px; z-index:5010; opacity:0.5;
            &:hover{opacity:1;}
        }
    }
}
.box{
    a:link, a:visited{text-decoration:none;}
    .input.long{width:100%;}
    .loader{margin:0 auto; width:48px; height:48px; box-sizing:border-box;}
    .loader.small{width:16px; height:16px;}
    .align-left{text-align:left; display:inline-block;}
    .align-center{text-align:center; display:inline-block;}
    .align-right{text-align:right; display:inline-block;}
    .clear{clear:both;}

    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

    .selectable{
        cursor:text;
      -webkit-touch-callout: text; /* iOS Safari */
        -webkit-user-select: text; /* Safari */
           -moz-user-select: text; /* Firefox */
            -ms-user-select: text; /* Internet Explorer/Edge */
                user-select: text; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
}
.svgicons{display:none;}
