<div class="row hover log-item pad">
    <div class="row">
        <div class="col two"><b>{{datetime}}</b></div>
        <div class="col three"><b>Area:</b> {{area}}</div>
        <div class="col seven"><b>URL:</b> {{url}}</div>
    </div>
    <div class="row pad-top">
        <div class="col"><b>Data:</b> {{data}}</div>
    </div>
    <div class="row pad-top">
        <div class="col"><b>Message:</b> {{message}}</div>
    </div>
    <div class="row pad-top">
        <div class="col"><b>Stack Trace:</b> {{stacktrace}}</div>
    </div>
</div>
<hr/>