.hero{padding:40px 70px; background-color:#292929; color:#666;
    .container{max-width:1200px; margin:0 auto; text-align:center;}
    h4{padding-bottom:20px;}
    h3{color:#cc0000;} 
    h1 {white-space:nowrap; padding-bottom:10px;
        span:nth-child(2){color:#cc0000 !important;}
    }
}