.signup{
    /* stylize login form & fields */
    form{width:300px;}
    h2{font-size:24px; padding-bottom:25px;}
    input[type="text"], input[type="password"]{margin-bottom:25px;}
    button{float:right;}
}

