<div class="col right menu-list user-menu" style="display:none;">
    <ul class="row file-tabs">
        <li class="tab-upload">
            <div class="row hover tab-button" title="Upload a website template to the Marketplace">
                <div class="col">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-upload" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Upload</span>
                </div>
            </div>
        </li>
        <li class="tab-home">
            <div class="row hover tab-button" title="Marketplace Homepage">
                <div class="col">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-market" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Marketplace</span>
                </div>
            </div>
        </li>
        <li class="tab-dashboard">
            <div class="row hover tab-button" title="View your Marketplace Dashboard">
                <div class="col">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-users" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Dashboard</span>
                </div>
            </div>
        </li>
        <li class="tab-settings">
            <div class="row hover tab-button" title="View your Account Settings">
                <div class="col">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Settings</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="col right menu-list nouser-menu" style="display:none;">
    <ul class="row file-tabs">
        <li class="tab-login">
            <div class="row hover tab-button" title="Log into your account for Saber Marketplace">
                <div class="col">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-users" x="0" y="0" width="32" height="32"></use>
                    </svg>
                    <span>Log Into Marketplace</span>
                </div>
            </div>
        </li>
    </ul>
</div>
