<div class="user-details">
    <div class="messages hide"></div>
    <div class="row">
        <div class="col six pad-right">
            <h2>User Information</h2>
            <div class="row">
                <div class="col six pad-right">
                    <div class="row field">Email Address</div>
                    <div class="row input hover">
                        <input type="email" spellcheck="false" value="{{user.email}}" id="user_email"/>
                    </div>
                </div>
                <div class="col six pad-left">
                    <div class="row field">Name</div>
                    <div class="row input hover">
                        <input type="text" spellcheck="false" value="{{user.name}}" id="user_name"/>
                    </div>
                </div>
            </div>
            <div class="row pad-top">
                <div class="col input">
                    <input type="checkbox" id="user_enabled" {{is-enabled}} />
                </div>
                <div class="col label pad-left-sm">
                    <label for="user_enabled">Enable Account</label>
                </div>
            </div>
            {{can-assign-admin}}
                <div class="row pad-top">
                    <div class="col input">
                        <input type="checkbox" id="admin_privilages" {{is-admin}} />
                    </div>
                    <div class="col label pad-left-sm">
                        <label for="admin_privilages">Administrator Privilages</label>
                    </div>
                </div>
                <div class="row pad-top faded">
                    <span>Only assign administrator privilages for users who need full access to all security keys.</span>
                </div>
            {{/can-assign-admin}}
        </div>
        <div class="col six pad-left">
            <div class="row">
                <div class="col">
                    <h2>Assigned Security Groups</h2>
                </div>
                {{can-assign}}
                <div class="col right pad-left-lg icon">
                    <a href="javascript:" class="btn-assign-group" title="Add an assigned security group for this user">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                        </svg>
                    </a>
                </div>
                {{/can-assign}}
            </div>
            <div class="row group-list">{{group-list}}</div>
        </div>
    </div>
    <div class="row pad-top text-center">
        <div class="col"><button class="apply btn-save">Save Changes</button></div>
    </div>
</div>