<div class="col paging-info">Found {{total}} users. Displaying users {{start}} through {{end}}</div>
<div class="col right">
    {{previous}}
    <a class="previous" href="javascript:" onclick="{{prev-click}}">&lt; Previous</a>
    {{/previous}}
    {{no-previous}}
    <span class="no-previous">&lt; Previous</span>
    {{/no-previous}}
    {{pages}}
    {{next}}
    <a class="next" href="javascript:" onclick="{{next-click}}">Next Page &gt;</a>
    {{/next}}
    {{no-next}}
    <span class="no-next">Next Page &gt;</span>
    {{/no-next}}
</div>