<!DOCTYPE html>
<html lang="{{language}}" xml:lang="{{language}}" xmlns="http:/www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta http-equiv="Content-Language" content="{{language}}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,user-scalable=yes" />
    {{platform-1}}
    <link type="text/css" rel="stylesheet" href="/editor/css/platform.css" />
    <link type="text/css" rel="stylesheet" href="/editor/css/themes/{{theme}}.css" />
    {{/platform-1}}
    <link type="text/css" rel="stylesheet" href="/css/website.css" id="website_css" />
    {{head-css}}
    <link rel="icon" type="{{favicon-type}}" href="{{favicon}}" />

    {{apple-app-60}}
    <link rel="apple-touch-icon" sizes="60x60" href="/images/mobile/apple-60x60.png">
    {{/apple-app-60}}
    {{apple-app-76}}
    <link rel="apple-touch-icon" sizes="76x76" href="/images/mobile/apple-76x76.png">
    {{/apple-app-76}}
    {{apple-app-120}}
    <link rel="apple-touch-icon" sizes="120x120" href="images/mobile/apple-120x120.png">
    {{/apple-app-120}}
    {{apple-app-152}}
    <link rel="apple-touch-icon" sizes="152x152" href="images/mobile/apple-152x152.png">
    {{/apple-app-152}}
    {{apple-app}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{/apple-app}}
    {{android-manifest}}
    <link rel="manifest" href="/android-manifest.json">
    {{/android-manifest}}
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body>

    {{platform-2}}
    <div class="bg for-popup hide" onclick="S.popup.bg(event)"></div>
    {{/platform-2}}
    {{body}}
    {{platform-3}}
    <div class="svgicons">{{svg-icons}}</div>
    <script type="text/html" id="template_popup">
        <div class="row pad-bottom box">
            <div class="col title"><h6>#title#</h6></div>
            <div class="col icon small btn-close">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        #body#
    </script>
    <script src="/editor/js/platform.js"></script>
    {{/platform-3}}
    <script src="/js/website.js" id="website_js"></script>
    {{scripts}}
    {{footer}}
</body>
</html>