<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore>
        <environmentVariables>
          <environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting xdt:Transform="Replace" xdt:Locator="Match(name)" name="debugLevel" value="ERROR, WARNING" />
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>