<div class="row field">Page Title</div>
<div class="row settings-page-title">
    <div class="col title-prefix pad-right-sm">
        <div class="row field faded">
            <span>Prefix</span>
            <div class="col right pad-left-lg icon small">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add-sm" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row input hover">
            <select id="page_title_prefix">{{page-title-prefixes}}</select>
        </div>
    </div>
    <div class="col pad-right-sm">
        <div class="row field faded">Title</div>
        <div class="row input hover">
            <input type="text" id="page_title" value="{{page-title}}" />
        </div>
    </div>
    <div class="col title-suffix pad-right-sm">
        <div class="row field faded">
            <span>Suffix</span>
            <div class="col right pad-left-lg icon small">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add-sm" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row input hover">
            <select id="page_title_suffix">{{page-title-suffixes}}</select>
        </div>
    </div>
</div>

<div class="row line margin-top"></div>

<div class="row field">Page Description</div>
<div class="row input hover"><textarea id="page_description">{{page-description}}</textarea></div>

<div class="textarea-clone"><div></div></div>

<div class="row line margin-top"></div>

<div class="row pad-top"><h5>Page Header & Footer</h5></div>
<div class="row settings-header-footer">
    <div class="col five tablet-twelve">
        <div class="row field faded">Header</div>
        <div class="row input hover">
            <select id="page_header">{{page-header-list}}</select>
        </div>
        <div class="header-fields pad-top {{no-header-fields}}hide{{/no-header-fields}}">
            <h6>Header Fields</h6>
            <div class="fields">{{header-fields}}</div>
        </div>
    </div>
    <div class="col two tablet-sm-zero">&nbsp;</div>
    <div class="col five tablet-twelve">
        <div class="row field faded">Footer</div>
        <div class="row input hover">
            <select id="page_footer">{{page-footer-list}}</select>
        </div>
        <div class="footer-fields pad-top {{no-footer-fields}}hide{{/no-footer-fields}}">
            <h6>Footer Fields</h6>
            <div class="fields">{{footer-fields}}</div>
        </div>
    </div>
</div>

<div class="row line margin-top"></div>

<div class="row pad-top page-scripts">
    <div class="col"><h5>Page Scripts</h5></div>
    <div class="col right">
        <button class="button btn-add-script">+ Add Script</button>
    </div>    
</div>
<div class="scripts-list">
    <ul class="list">
        {{scripts-list}} 
    </ul>
</div>

<div class="row line pad-bottom margin-top"></div>

<div class="row pad-top"><h5>Subpage Template</h5></div>
<div class="template-info">
    <a href="{{page-template}}" target="_blank">Modify</a> the web page that will be used to generate new sub-pages
</div>

<div class="row line pad-bottom margin-top"></div>

<script language="text/html" id="template_pagetitle_newprefix">
    <form>
        <div class="row message hide"><span></span></div>
        <div class="row field">Prefix</div>
        <div class="row input pad-top-sm">
            <input type="text" id="page_title_new_prefix" placeholder="My Website - " />
        </div>
        <div class="row text-center pad-top-sm">
            <div class="col">
                <input type="submit" class="button apply" value="Create Prefix" />
            </div>
        </div>
    </form>
</script>

<script language="text/html" id="template_pagetitle_newsuffix">
    <form>
        <div class="row message hide"><span></span></div>
        <div class="row field">Suffix</div>
        <div class="row input pad-top-sm">
            <input type="text" id="page_title_new_suffix" placeholder=" - Have A Nice Day" />
        </div>
        <div class="row text-center pad-top-sm">
            <div class="col">
                <input type="submit" class="button apply" value="Create Suffix" />
            </div>
        </div>
    </form>
</script>

<script language="text/html" id="template_scripts_add">
    <form>
        <div class="row field">Available Scripts</div>
        <div class="row input">
            <select id="available_scripts"></select>
        </div>
        <div class="row pad-top pad-bottom faded">
            <span>You can add more scripts by uploading them into the <b>wwwroot/js</b> folder.</span>
        </div>
        <div class="row text-center pad-top-sm">
            <div class="col">
                <input type="submit" class="button apply" value="Add Script To Page" />
            </div>
        </div>
    </form>
</script>

{{vendor}}