<div class="row import-export">
    <p>
        Download all content from your website for backup purposes. This will download
        all web page files (HTML, CSS, LESS, JSON) along with site-wide content, such as
        <strong>website.less</strong>, <strong>website.css</strong>, <strong>website.js</strong>, 
        and all user content from <strong>wwwroot</strong>.
    </p>
    <div class="row text-center pad-top">
        <a href="/Export" target="_blank" class="button export-content" onclick="S.editor.export.hide()">Export Content</a>
    </div>
</div>