<div class="editor-tab noselect">
    <div class="box bg">
        <div class="row hover">
            <div class="col icon large">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="editor box bg hide {{editor-type}} noselect">
    {{editor-header "/Views/Editor/header.html"}}
    <div class="relative">
        <div class="editor-drop-menu col hide">
            <div class="box bg">
                <ul class="menu">
                    <li>
                        <div class="row hover item item-save faded" disabled>
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-save" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">Save</div>
                        </div>
                    </li>
                    <li>
                        <div class="row hover item item-save-as">
                            <div class="col icon faded pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-save" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">Save As</div>
                        </div>
                    </li>
                    <li>
                        <div class="row line">&nbsp;</div>
                    </li>
                    <li>
                        <div class="row hover item item-browse">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-folder" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">Browse Files...</div>
                        </div>
                    </li>
                    <li>
                        <div class="row line">&nbsp;</div>
                    </li>
                    <li>
                        <div class="row hover item item-new-file">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-file-add" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">New File</div>
                        </div>
                    </li>
                    <li>
                        <div class="row hover item item-new-folder">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-folder-add" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">New Folder</div>
                        </div>
                    </li>
                    <li>
                        <div class="row line">&nbsp;</div>
                    </li>
                    <li>
                        <div class="row hover item item-content-fields">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-form-fields" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">Page Content</div>
                        </div>
                    </li>
                    <li>
                        <div class="row hover item item-page-settings">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">Page Settings</div>
                        </div>
                    </li>
                    <li>
                        <div class="row line">&nbsp;</div>
                    </li>
                    <li>
                        <div class="row hover item item-new-window">
                            <div class="col icon pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-new-window" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col text">New Window</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="edit-bar row">
            <div class="left-bar edit-tabs col">
                <ul class="row">
                    <li>
                        <div class="row tab-drop-menu hover">
                            <div class="col icon small pad-right">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-menu" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </div>
                            <div class="col">File</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="file-bar row">
            <div class="bg row">
                <div class="col icon file-icon pad-top-sm pad-left-sm">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-file-html" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </div>
                <div class="col file-path">
                    <input type="text" id="filepath" disabled="disabled" />
                </div>
                <div class="col buttons right">
                    <ul class="row file-tabs">
                        <li class="tab-content-fields" title="Multi-lingual Page Content">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-form-fields" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="tab-file-code selected" title="Source Code Editor">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-sourcecode" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="tab-page-settings" title="Page Settings">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="tab-page-resources" title="Page Resources">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-photos" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="tab-preview" title="Preview Web Page">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-preview" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row sections">
            <div class="tab file-browser hide">
                <div class="row pad">
                    <div class="col icon small pad-top-sm pad-right">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#icon-arrow-right" x="0" y="0" width="32" height="32"></use>
                        </svg>
                    </div>
                    <div class="col browser-path pad-top-sm">/</div>
                </div>
                <ul class="menu"></ul>
            </div>
            <div class="tab code-editor pad-right">
                <div id="editor"></div>
                <div class="code-bar">
                    <div class="code-status">Loading Editor...</div>
                    <div class="info code-curr-line"></div>
                    <div class="info code-curr-char"></div>
                    <div class="info code-total-lines"></div>
                </div>
            </div>
            <div class="tab content-fields hide" data-simplebar>
                <div class="scroller">
                    <div class="row pad-height">
                        <h4>Page Content</h4>
                        for <a href="#" class="page-name">/home</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row hover lang">
                                <div class="col field pad-right">Content Language: </div>
                                <div class="col input right">
                                    <select id="lang"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col pad-left">
                            <div class="row message hide"><span></span></div>
                        </div>
                    </div>
                    <div class="row line pad-bottom"></div>
                    <div class="row">&nbsp;</div>
                    <form></form>
                    <div class="textarea-clone"><div></div></div>
                </div>
            </div>
            <div class="tab page-settings hide">
                <div class="scroller">
                    <div class="row pad-height">
                        <h4>Page Settings</h4>
                        for <a href="#" class="page-name">/home</a>
                        <div class="row message hide"><span></span></div>
                        <div class="settings-contents"></div>
                    </div>
                </div>
            </div>
            <div class="tab page-resources hide"></div>
        </div>
    </div>

</div>

<div class="editor-preview">{{content}}</div>

<script type="text/html" id="template_tab">
    <li class="tab-##id## ##selected##">
        <div class="row hover ##tab-type## ##selected##" onclick="S.editor.explorer.open('##path##')">
            <div class="btn-close icon tiny hover-only">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <div class="icon tiny is-resource ##resource-icon##">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-pin" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <div class="col tab-title">##title##</div>
        </div>
    </li>
</script>

<script language="text/html" id="template_newfile">
    <form>
        <div class="row message hide"><span></span></div>
        <div class="row field">File Path</div>
        <div class="row input pad-top-sm">
            <input type="text" id="newfilepath" value="##folder-path##" />
        </div>
        <div class="row field">File Name</div>
        <div class="row input">
            <input type="text" id="newfilename" placeholder="template.html" />
        </div>
        <div class="row text-center pad-top-sm">
            <div class="col">
                <input type="submit" class="button apply" value="Create File" />
            </div>
        </div>
    </form>
</script>

<script language="text/html" id="template_newfolder">
    <form>
        <div class="row message hide"><span></span></div>
        <div class="row field">Folder Path</div>
        <div class="row input">
            <input type="text" id="newfolderpath" value="##folder-path##" />
        </div>
        <div class="row field">Folder Name <span class="faded">(no spaces)</span></div>
        <div class="row input">
            <input type="text" id="newfolder" placeholder="BlogEntries" />
        </div>
        <div class="row text-center pad-top-sm">
            <div class="col">
                <input type="submit" class="button apply" value="Create Folder" />
            </div>
        </div>
    </form>
</script>