<div class="editor box bg {{editor-type}} noselect">
    {{editor-header "/Views/Editor/header.html"}}
    <div class="relative">
        <div class="toolbar top-menu row noselect">
            <div class="col logo">
                <a href="https://saber.datasilk.io/support/editor.html" target="_blank">
                    <svg viewBox="0 0 64 128">
                        <use xlink:href="#icon-saber" x="0" y="0" width="64" height="128"></use>
                    </svg>
                </a>
            </div>
            <div class="col bars">
                <div>
                    <ul class="menu-bar">
                        <li class="menu-item-file">
                            <div class="row hover"><span>File</span></div>
                            <div class="drop-menu hide">
                                <ul class="menu">
                                    <li>
                                        <div class="row hover item item-save faded" disabled>
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-save" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text"><span class="shortcut-key">S</span>ave</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-save-as">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-save" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Save As</div>
                                        </div>
                                    </li>
                                    {{code-editor}}
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-new-file">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-file-add" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">New File</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-new-folder">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-folder-add" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">New Folder</div>
                                        </div>
                                    </li>
                                    {{/code-editor}}
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-new-tab">
                                            <a href="about:blank" target="_blank">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-new-tab" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">New Tab</div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-new-window">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-new-window" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">New Window</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item-view">
                            <div class="row hover"><span>View</span></div>
                            <div class="drop-menu hide">
                                <ul class="menu">
                                    <li>
                                        <div class="row hover item item-browse">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-folder" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">File Browser</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>
                                    {{page-content}}
                                    <li>
                                        <div class="row hover item item-content-fields">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-form-fields" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Page Content</div>
                                        </div>
                                    </li>
                                    {{/page-content}}
                                    {{page-resources}}
                                    <li>
                                        <div class="row hover item item-page-resources">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-photos" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Page Resources</div>
                                        </div>
                                    </li>
                                    {{/page-resources}}

                                    {{page-settings}}
                                    <li>
                                        <div class="row hover item item-page-settings">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Page Settings</div>
                                        </div>
                                    </li>
                                    {{/page-settings}}
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>
                                    {{website-settings}}
                                    <!--
                                    <li>
                                        <div class="row hover item item-web-settings">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Website Settings</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>-->
                                    {{/website-settings}}
                                    <li>
                                        <div class="row hover item item-live-preview">
                                            <a href="about:blank" target="_parent" title="Inspect a live preview of this web page which will not contain any Saber editor resources">
                                                <div class="col icon">
                                                    <svg viewBox="0 0 32 32">
                                                        <use xlink:href="#icon-preview" x="0" y="0" width="32" height="32"></use>
                                                    </svg>
                                                </div>
                                                <div class="col text">Live Preview</div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item-website">
                            <div class="row hover"><span>Website</span></div>
                            <div class="drop-menu hide">
                                <ul class="menu">
                                    {{manage-users}}
                                    <li>
                                        <div class="row hover item item-user-management">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-users" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">User Accounts</div>
                                        </div>
                                    </li>
                                    {{/manage-users}}
                                    {{manage-security}}
                                    <li>
                                        <div class="row hover item item-security">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-security" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Security Groups</div>
                                        </div>
                                    </li>
                                    {{/manage-security}}
                                    {{manage-datasources}}
                                    <li>
                                        <div class="row hover item item-datasources">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-datasources" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Data Sources</div>
                                        </div>
                                    </li>
                                    {{/manage-datasources}}
                                    {{website-analytics}}
                                    <li>
                                        <div class="row hover item item-analytics">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-analytics" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Analytics</div>
                                        </div>
                                    </li>
                                    {{/website-analytics}}
                                    
                                    {{website-settings}}
                                    <li>
                                        <div class="row line">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-web-stylesheets">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-file-css" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Stylesheets</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover item item-web-scripts">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-file-js" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Scripts</div>
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="row hover item item-web-icons">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-icons" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Icons</div>
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="row hover item item-web-email">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-email" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Email Settings</div>
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="row hover item item-web-pass">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-pass" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Password Settings</div>
                                        </div>
                                    </li>   
                                    <li>
                                        <div class="row hover item item-web-dev-keys">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-key" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Developer Keys</div>
                                        </div>
                                    </li> 
                                    <li>
                                        <div class="row hover item item-web-plugins">
                                            <div class="col icon">
                                                <svg viewBox="0 0 32 32">
                                                    <use xlink:href="#icon-plugin" x="0" y="0" width="32" height="32"></use>
                                                </svg>
                                            </div>
                                            <div class="col text">Plugins</div>
                                        </div>
                                    </li> 
                                    {{/website-settings}}
                                    {{plugin-menu}}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="edit-bar row">
                    <div class="left-bar edit-tabs col">
                        <ul class="row">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar for-tabs noselect">
            <div class="messages"></div>
            <div class="file-bar row">
                <div class="col icon file-icon pad-top-sm pad-left-sm">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-file-html" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </div>
                <div class="col file-path"></div>
                <div class="col buttons right">
                    <ul class="row file-tabs">
                        {{components}}
                        <li class="tab-components selected">
                            <div class="row hover tab-button" title="Available HTML Components">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-plugin" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="components-menu hide">
                                <div class="components-list">
                                    {{components-list}}
                                </div>
                                <div class="component-configure hide"></div>
                            </div>
                        </li>
                        {{/components}}
                        {{page-content}}
                        <li class="tab-content-fields" title="Multi-lingual Page Content">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-form-fields" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        {{/page-content}}
                        {{file-code}}
                        <li class="tab-file-code selected" title="Source Code Editor">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-sourcecode" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        {{/file-code}}
                        {{page-settings}}
                        <li class="tab-page-settings" title="Page Settings">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-settings" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        {{/page-settings}}
                        <li class="tab-page-resources" title="Page Resources">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-photos" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="tab-preview" title="Preview Web Page">
                            <div class="row hover">
                                <div class="col">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="#icon-preview" x="0" y="0" width="32" height="32"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col tab-toolbar right pad-right-sm pad-top-sm"></div>
            </div>
        </div>
        <div class="file-browser noselect hide">
            <div class="row pad-sm bread">
                <div class="col icon small pad-top-sm pad-right">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-arrow-right" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </div>
                <div class="col browser-path pad-top-sm">/</div>
            </div>
            <ul class="menu"></ul>
        </div>
        <div class="row sections">
            {{code-editor}}
            <div class="tab code-editor pad-right">
                <div id="editor"><div class="editor-loading"></div></div>
                <div class="code-bar">
                    <div class="code-status">Loading Editor...</div>
                    <div class="info code-curr-line"></div>
                    <div class="info code-curr-char"></div>
                    <div class="info code-total-lines"></div>
                </div>
            </div>
            {{/code-editor}}
            {{page-content}}
            <div class="tab content-fields-section hide" data-simplebar>
                <div class="scroller has-content-fields">
                    <div class="row">
                        <div class="col">
                            <div class="row hover lang">
                                <div class="col field pad-right">Selected Language: </div>
                                <div class="col input right">
                                    <select id="lang"></select>
                                </div>
                            </div>
                        </div>            
                        <div class="col pad-left icon small add-lang faded">
                            <a href="javascript:">
                                <svg viewBox="0 0 32 32">
                                    <use xlink:href="#icon-add-sm" x="0" y="0" width="32" height="32"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="col pad-left">
                            <div class="row messages hide"></div>
                        </div>
                    </div>
                    <div class="row line pad-bottom"></div>
                    <div class="row">&nbsp;</div>
                    <form></form>
                </div>
            </div>
            {{/page-content}}
            {{page-settings}}
            <div class="tab page-settings hide">
                <div class="scroller">
                    <div class="row pad-height">
                        <div class="row messages hide"></div>
                        <div class="settings-contents"></div>
                    </div>
                </div>
            </div>
            {{/page-settings}}
            {{manage-users}}
            <div class="tab users-management hide">
                <div class="scroller"></div>
            </div>
            {{/manage-users}}
            {{manage-security}}
            <div class="tab security-groups hide">
                <div class="scroller"></div>
            </div>
            {{/manage-security}}
            {{website-settings}}
            <div class="tab web-settings hide">
                <div class="scroller">
                    <div class="row settings-contents pad-height">
                    </div>
                </div>
            </div>
            {{/website-settings}}
            {{website-analytics}}
            <div class="tab website-analytics hide">
                <div class="scroller">
                    <div class="row pad-height">
                        <h2>Website Analytics</h2>
                        <div class="row messages hide"></div>
                        <div class="analytics-contents"></div>
                    </div>
                </div>
            </div>
            {{/website-analytics}}
            <div class="tab resources hide"></div>
            <div class="tab page-resources hide"></div>
        </div>
        <div class="textarea-clone"><div></div></div>
    </div>
</div>

<div class="editor-preview website">{{content}}</div>

<script type="text/html" id="template_topmenuitem">
    <li class="menu-item-##id##">
        <div class="row hover"><span>##label##</span></div>
        <div class="drop-menu hide">
            <ul class="menu"></ul>
        </div>
    </li>
</script>
<script type="text/html" id="template_menuitem">
    ##separator##
    <li ##li-class##>
        <div class="row hover item item-##id##">
            <div class="col icon">
                ##icon##
            </div>
            <div class="col text">##label##</div>
        </div>
    </li>
</script>

<script type="text/html" id="template_svgicon">
    <svg viewBox="0 0 32 32">
        <use xlink:href="##icon##" x="0" y="0" width="32" height="32"></use>
    </svg>
</script>

<script type="text/html" id="template_separator">
    <li ##li-class##>
        <div class="row line">&nbsp;</div>
    </li>
</script>

<script type="text/html" id="template_message">
    <div class="close-btn">
        <a href="javascript:">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
            </svg>
        </a>
    </div>
    <span>##text##</span>
</script>

<script type="text/html" id="template_tab">
    <li class="tab-##id## ##selected##">
        <div class="row hover ##tab-type## ##selected##" onclick="S.editor.explorer.open('##path##')" data-path="##path##">
            <div class="btn-close icon tiny hover-only">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <div class="icon tiny is-resource ##resource-icon##">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-pin" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <div class="col tab-title">##title##</div>
        </div>
    </li>
</script>

<script type="text/html" id="template_confirm">
    <div class="row"><p>##msg##</p></div>
    <div class="row text-center pad-top">##buttons##</div>
</script>

<script type="text/html" id="template_newfile">
    <form>
        <div class="row messages hide"></div>
        <div class="row field">File Name</div>
        <div class="row input">
            <input type="text" id="newfilename" spellcheck="false" placeholder="template.html" />
        </div>
        <div class="row field">File Path</div>
        <div class="row input pad-top-sm">
            <input type="text" id="newfilepath" spellcheck="false" value="##folder-path##" />
        </div>
        <div class="row text-center pad-top">
            <div class="col">
                <input type="submit" class="button apply" value="Create File" />
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="template_newfolder">
    <form>
        <div class="row messages hide"></div>
        <div class="row field">Folder Name <span class="faded">(no spaces)</span></div>
        <div class="row input">
            <input type="text" id="newfolder" spellcheck="false" placeholder="BlogEntries" />
        </div>
        <div class="row field">Folder Path</div>
        <div class="row input">
            <input type="text" id="newfolderpath" spellcheck="false" value="##folder-path##" />
        </div>
        <div class="row text-center pad-top">
            <div class="col">
                <input type="submit" class="button apply" value="Create Folder" />
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="template_lang_add">
    <form>
        <div class="row messages hide"></div>
        <div class="row field">Language</div>
        <div class="row input pad-top-sm">
            <input type="text" id="lang_name" spellcheck="false" placeholder="Spanish" />
        </div>
        <div class="row field">Abbreviation</div>
        <div class="row input pad-top-sm">
            <input type="text" id="lang_abbr" placeholder="es" />
        </div>
        <div class="row text-center pad-top">
            <div class="col">
                <input type="submit" class="button apply" value="Add Language" />
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="template_resources_popup">
        <div class="resources-list"></div>
        <div class="row text-center pad-top">
            <div class="col">
                <input type="submit" class="button special uploader" value="Upload" />
            </div>
            <div class="col">
                <input type="submit" class="button apply" value="##button-title##" />
            </div>
        </div>
</script>

<script type="text/html" id="template_resource_selected">
    <div class="selected hide">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-check" x="0" y="0" width="32" height="32"></use>
        </svg>
    </div>
</script>
{{components}}
<script type="text/html" id="template_component_id">
    <div class="row field">ID ##optional##</div>
    <div class="row input">
        <input type="text" spellcheck="false" id="component_id"/>
    </div>
    <hr/>
</script>
<script type="text/html" id="template_component_config">
    <div class="row"><h4>##name##</h4></div>
    <div class="scroller">
        <input type="hidden" id="component_key" value="##key##"/>
        ##id-field##
        ##fields##
    </div>
    <div class="row text-center pad-top">
        <div class="col pad-right">
            <input type="submit" class="button cancel" value="Cancel" />
        </div>
        <div class="col">
            <input type="submit" class="button apply" value="##button-title##" />
        </div>
    </div>
</script>
<script type="text/html" id="template_component_param">
    <div class="component-param">
        <div class="row field">##name## ##required##</div>
        <div class="row input">##input##</div>
    </div>
</script>
<script type="text/html" id="template_component_param_list">
    <div class="component-param">
        <div class="accordion">
            <div class="title">
                <h6>##name## ##required##</h6>
                <div class="expander">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-arrow-right" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </div>
                <div class="button add-list-item">
                    <a href="javascript:" ##add-list-item##>
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#icon-add-sm" x="0" y="0" width="32" height="32"></use>
                        </svg>
                    </a>
                </div>
                <div class="button accept-item hide">
                    <a href="javascript:">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#icon-check" x="0" y="0" width="32" height="32"></use>
                        </svg>
                    </a>
                </div>
                <div class="button cancel-item hide">
                    <a href="javascript:">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="contents pad"><span class="faded">no items created yet</span></div>
        </div>
        <div class="row input field-form hide">##input##<hr /><input type="hidden" ##id## class="input-field"/></div>
    </div>
</script>
{{/components}}
<script type="text/html" id="template_select_file">
    <div class="row messages hide"></div>
    <div class="row"><div class="col modal-path"></div></div>
    <div class="row modal-browser"><ul class="menu"></ul></div>
</script>
<script type="text/html" id="template_contentfields">
    <div class="scroller has-content-fields">
        <div class="row">
            <div class="col">
                <div class="row hover lang">
                    <div class="col field pad-right">Selected Language: </div>
                    <div class="col input right">
                        <select id="lang"></select>
                    </div>
                </div>
            </div>            
            <div class="col pad-left icon small add-lang faded">
                <a href="javascript:">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add-sm" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
            <div class="col pad-left">
                <div class="row messages hide"></div>
            </div>
        </div>
        <div class="row line pad-bottom"></div>
        <div class="row">&nbsp;</div>
        <form></form>
    </div>
</script>
<script type="text/html" id="template_content_field">
    <div class="row">
        <div class="col field">##name##</div>
        <div class="col input">##input##</div>
    </div>
</script>
<script type="text/html" id="custom_field_list_item">{{custom-field-list-item}}</script>
{{vendor-templates}}