/* editor container */
.editor{position:fixed;
    h1, h2, h3{padding-bottom:15px;}
    h4, h5, h6{padding-bottom:10px;}
    &.monaco .code-editor{overflow-y:hidden !important; padding-right:0 !important;}
    &.box ul.tabs > li{margin:0 5px 0 0; overflow:hidden; /*border-top-right-radius:9px;*/}
    .sections:after{content:""; display:block; clear:both;}
}

/* editor header */
@import "header.less";
.editor .header{display:none;}
.editor ul.row li{cursor:default;}

/* code editor */
.code-editor{padding-right:15px; overflow-x:hidden; overflow-y:auto !important; box-sizing:border-box;}
.code-bar{height:24px; padding:1px 10px; box-sizing:border-box; line-height:1.5;
    &:after{content:""; display:block; clear:both;}
    .code-status{float:left; width:70%;}
    .info{float:left; padding-right:50px;}
}

/* ace editor / monaco editor container */
#editor{width:100%; min-height:300px; height:~"calc(100% - 24px)";
    & > .instance{width:100%; height:100%;}
    .monaco-editor .margin{margin:0 !important;}
}

/* editor tab (in preview mode) */
.editor-tab{position:fixed; bottom:8px; right:15px; transition:opacity 0.4s; z-index:1000;
    .col.icon{opacity:0.4;}
    .row:hover .col.icon{opacity:1;}
    & > .bg{border-radius:30px; box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.2); overflow:hidden;
    .row{padding:9px 9px 8px 9px;}
    }
}

/* preview mode */
.editor-preview:not(.hide){display:flex; min-height:100vh; flex-direction:column;}

/* drop down menu */
.editor-drop-menu{position:absolute; z-index:1000; top:40px; cursor:default;
    & > div{box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.3);}
    li{overflow:hidden;}
    li > div.item{padding:7px 75px 7px 15px;}
    .line{margin:5px 0;}
    .col.text{padding: 0; margin-top:5px;}
}
.tab-drop-menu { padding:9px 25px;
    .icon{margin-bottom:-1px;}
}

/* file tabs */
.edit-bar{padding:5px 0 0 5px;}
.edit-tabs{float:left;
    ul{list-style:none;}
    li{position:relative;}
    .tab-title{padding:9px 25px;}
    .row:hover .btn-close.hover-only{opacity:0.5 !important;
        &:hover{opacity:1 !important;
            use{fill:#0070ff;color:#0070ff;}
        }
    }
    .btn-close{position:absolute; right:5px; top:5px; z-index:5; }
    .row.page-level{
        .is-resource{position:absolute; top:5px; right:5px;}
    }
    .loader{position:absolute; left:0; top:5px;}
}
.editor .tab{
    p, ul{display:block;}
    p, ul, li{padding-bottom:15px;}
}

/* file browser */
.file-browser{float:left; width:250px; position:relative; top:-48px; margin-bottom:-48px;
    .icon-folder-add{padding-top:4px;}
    .label{font-size:17px;}
    .item{cursor:default;}
}
.browser-path{white-space:pre-wrap; word-wrap:break-word; width:~"calc(100% - 40px)" !important; min-height:23px;}

/* file bar */
.file-bar{padding:0 0 5px 0;}
.file-tabs{
    li .col{padding:8px 10px 6px 10px;}
}
.file-path{width:~"calc(100% - 330px)" !important; padding-top:4px;
    input{font-size:17px !important; font-weight:400; 
          &:not(:focus){background-color:transparent !important; border-color:transparent !important; outline:transparent !important; }
    }
}

/* when file browser is visible */
.editor.show-browser {
    .code-editor, .content-fields, .page-settings, .page-resources{float:left; width:~"calc(100% - 250px)";}
    .file-bar{padding-left:250px;}
}

/* sections */
.scroller{position:relative; max-width:1250px; margin:0 auto; }

/* content fields */
.content-fields{position:relative; padding-bottom:30px; overflow-y:auto; overflow-x:hidden;
    form{
        .field{padding:16px 7px 0px 4px !important;}
        textarea{width:100%; resize: none; z-index:10; overflow:hidden; font-size:18px; font-weight:200; }
    }
    .message{margin-bottom:-5px;}
    .col.field{width:200px;}
    .col.input{width:~"calc(100% - 200px)";}
    .textarea-clone{opacity:0; position:absolute; z-index:-1; width:100%; height:0px; top:0;
        & > div{position:absolute; width:100%; min-height:30px; font-size:18px; font-weight:200; padding:10px 10px 10px 220px; line-height:1.15; box-sizing:border-box; border-width:1px; font-family:monospace;}
    }
    .no-fields{padding: 20px 50px;
        li{padding-bottom:10px;}
    }
    .code{padding:5px 7px; font-family:monospace;}
}

/* page settings */
.page-settings{width:100%; overflow-x:hidden; overflow-y:auto;
    textarea{width:100%; resize: none; z-index:10; overflow:hidden; font-size:18px; font-weight:200;}
    .textarea-clone{opacity:0; position:absolute; z-index:-1; width:100%; height:0px; top:0;
        & > div{position:absolute; width:100%; min-height:30px; font-size:18px; font-weight:200; padding:10px; line-height:1.15; box-sizing:border-box; border-width:1px; font-family:monospace;}
    }
}
.settings-page-title{
    & > .col:nth-child(1), & > .col:nth-child(3){width:25%;}
    & > .col:nth-child(2){width:50%;padding-top:1px;}
}

/* page resources */
.page-resources{width:100%; padding:0 20px; overflow-x:hidden; overflow-y:auto;
    .toolbar, .no-resources{max-width:1250px; margin:0 auto;}
}
.resources-list{max-width:1250px; margin:0 auto;
    ul::after{content:" "; overflow:hidden; clear:both; display:block; font-size:0px; height:0px;}
    li{float:left; padding:20px; list-style:none; width:250px; height:270px;}
    .img{position:relative; width:250px; height:200px; overflow:hidden; display:table-cell; text-align:center; vertical-align:middle; background-color:#000; background-image:url(/editor/grid.png); background-repeat:repeat; line-height:0;
         .pic{display:inline-block; overflow:hidden; max-height:200px; max-width:250px;}
        img{width:100%;}
        svg{width:100%; height:100%;}
        .svgicon{padding:50px; box-sizing:border-box;}
    }
    .img:hover{background-color:#111;}
    li.type-file .img{padding:15px 50px 0px 50px;}
    .title{width:100%; text-align:center; font-size:15px; line-height:1.1; padding-top:10px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
    .close-btn{position:absolute; z-index:100; top:10px; right:10px; display:none;
        use{color:#cc0000; fill:#cc0000; opacity:0.7;}
    }
    .close-btn:hover{
        use{color:#ff0000; fill:#ff0000; opacity:1;}
    }
    li:hover .close-btn{display:block;}
}

/* tooltip */
.tooltip-container{ position:relative;
    & > *:not(.tooltip){cursor:default;}
    .tooltip{display:none; position:absolute; z-index:1000; padding:10px; border-radius:6px; width:~"calc(100% - 10px)";
        ul{padding-left:15px;}
    }
    .tooltip.below{top:~"calc(100% + 12px)";
        &:after{
            bottom: 100%; left: 30%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; 
            pointer-events: none; border-bottom-color: #2a2a2a; border-width: 15px; margin-left: -15px;
        }
    }
    &:hover{
        .tooltip{display:block; }
    }
}

/* Ace Editor */
.ace_gutter-active-line, .ace_active-line{background-color:transparent !important;background:transparent !important;}

/* hidden elements */
.hidden-iframe{width:0; height:0; border:none; visibility:hidden;}
.hidden-button{visibility:hidden; width:0; height:0; line-height:0; border:none; background:transparent; outline:none; color:transparent; margin:0; padding:0;}