<div class="row no-resources pad-height-lg">
    <h5>No media files to view</h5>
    <p>
        You haven't uploaded any media files yet. You can upload any file, including images (png, jpg, gif), 
        documents (txt, md, doc, pdf, xls, xlsx, csv), zip files (zip, rar, 7z), 
        and other kinds of media (mp3, mp4, mkv, flv, avi, ogv, wav, midi, apk, tiff, raw). 
        All web design related files (html, css, less, js, json) will show in the file browser.
    </p>
    <p class="faded">
        Please note that all uploaded files are checked for viruses, malware, & trojans. Also, there are limitations 
        to filename character length.
    </p>
</div>