<div class="row no-resources pad-height-lg">
    <h5>No Resources Available</h5>
    <p>
        You haven't uploaded any resources yet. You can upload any file, including images (png, jpg, gif), documents (txt, md, doc, pdf, xls, xlsx, csv), zip files (zip, rar, 7z), web files (html, css, js, json), and other kinds of media (mp3, mp4, mkv, flv, avi, ogv, wav, midi, apk, tiff, raw). 
    </p>
    <p class="faded">Please note that all uploaded files are checked for viruses, malware, & trojans. Also, there are limitations to filename character length.</p>
</div>