<li class="type-{{file-type}} file-{{file-id}}">
    <div class="img">
        <div class="check"><input type="checkbox" /></div>
        <div class="close-btn icon small" onclick="S.editor.resources.delete(event, '{{filename}}', this);">
            <svg viewBox="0 0 32 32"><use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use></svg>
        </div>
        {{img}}<div class="pic"><img src="{{img-src}}" alt="{{img-alt}}" /></div>{{/img}}
        {{svg}}<svg viewBox="0 0 32 32"><use xlink:href="#icon-{{icon}}" x="0" y="0" width="32" height="32"></use></svg>{{/svg}}
        <ul class="menu hover-only">
            {{menu-full}}
            <li><a href="{{img-src-full}}" target="_blank">Preview</a></li>
            {{/menu-full}}
            {{menu-copy}}
            <li><a href="{{img-src-rel}}" onclick="S.clipboard.copy('{{img-src-rel}}'); event.preventDefault(); return false;">Copy Path</a></li>
            {{/menu-copy}}
        </ul>
    </div>
    <div class="title">{{filename}}</div>
</li>