<div class="row hover filter filter-input-number" data-column="{{column}}">
    <div class="col field long">{{label}}</div>
    <div class="col input">
        <select class="filter-match">
            <option value="3">Equals</option>
            <option value="4">Greater Than</option>
            <option value="5">Greater Than Or Equal To</option>
            <option value="6">Less Than</option>
            <option value="7">Less Than Or Equal To</option>
        </select>
    </div>
    <div class="col input filter-input"><input type="number" value="{{value}}" /></div>
    <div class="col input filter-queryname"><input type="text" value="{{queryname}}" /></div>
    <hr/>
</div>