<div class="row hover filter-input-text" data-column="{{column}}">
    <div class="col field long">{{label}}</div>
    <div class="col input filter-match">
        <select>
            <option value="0">Starts With</option>
            <option value="1">Ends With</option>
            <option value="2">Contains</option>
            <option value="3">Equals</option>
        </select>
    </div>
    <div class="col input filter-input"><input type="text" value="{{value}}" /></div>
    <div class="col right input filter-queryname">
        <input type="text" value="{{queryname}}" placeholder="(optional)" />
    </div>
    <div class="col right text faded">Query Name</div>
    <hr/>
</div>