<style>
    .security-groups .lists{padding:20px 20px;}
    .security-groups .spreadsheet{margin-bottom:30px;}
    .security-groups .spreadsheet td:nth-child(1){white-space:nowrap;}
    .security-groups .spreadsheet tbody td:nth-child(2){width:100%;}
    .security-groups .spreadsheet tbody td:nth-child(2) span{opacity:0.5;}
</style>

<table class="groups spreadsheet">
    <thead>
        <tr>
            <td>Name</td><td>Active Keys</td>
        </tr>
    </thead>
    <tbody>
        {{groups}}
    </tbody>
</table>

<script id="security_groups_toolbar" type="text/html">
    <button class="new-group button">+ New Group</button>
</script>
<script id="template_newgroup" type="text/html">
    <form autocomplete="chrome-off">
        <div class="row msg hide"><span></span></div>
        <div class="row field">Name</div>
        <div class="row input">
            <input type="text" name="newfield1" autocomplete="new-name" id="newname" placeholder="Contributors" />
        </div>
        <div class="row text-center pad-top">
            <div class="col">
                <input type="submit" class="button apply" value="Create Group" />
            </div>
        </div>
    </form>
</script>