/* fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(/fonts/opensans/opensans-lightitalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/opensans/opensans-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/fonts/opensans/opensans-bolditalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans/opensans-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/opensans-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans/opensans-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* imports */
.box {
  font-family: Jaldi, Arial, Helvetica, sans-serif;
  background: transparent;
  color: #444;
}
.box a.no-link {
  color: #444 !important;
}
.box a:link {
  color: #0099FF;
}
.box a:visited {
  color: #0099FF;
}
.box a:hover {
  color: #006bff;
}
.box a:active {
  color: #006bff;
}
.box use {
  color: #555;
  fill: #555;
}
.box a:link use {
  color: #555;
  fill: #555;
}
.box a:visited use {
  color: #555;
  fill: #555;
}
.box a:hover use {
  color: #0099FF;
  fill: #0099FF;
}
.box a:active use {
  color: #0099FF;
  fill: #0099FF;
}
.box .row {
  background: transparent;
  color: #444;
}
.box .row a:link {
  color: #009B87;
}
.box .row a:visited {
  color: #009B87;
}
.box .row a:hover {
  color: #00C5C7;
}
.box .row a:active {
  color: #00C5C7;
}
.box .row use {
  color: #555;
  fill: #555;
}
.box .row a:link use {
  color: #555;
  fill: #555;
}
.box .row a:visited use {
  color: #555;
  fill: #555;
}
.box .row a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .row a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .row a.text:link {
  color: #444;
}
.box .row a.text:visited {
  color: #444;
}
.box .row a.text:hover {
  color: #444;
}
.box .row a.text:active {
  color: #444;
}
.box .row.hover:hover {
  background: #9bd7ff;
  color: #33494C;
}
.box .row.hover:hover a:link {
  color: #00C5C7;
}
.box .row.hover:hover a:visited {
  color: #00C5C7;
}
.box .row.hover:hover a:hover {
  color: #00C5C7;
}
.box .row.hover:hover a:active {
  color: #00C5C7;
}
.box .row.hover:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .row.hover:hover a:link use {
  color: #009B87;
  fill: #009B87;
}
.box .row.hover:hover a:visited use {
  color: #009B87;
  fill: #009B87;
}
.box .row.hover:hover a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .row.hover:hover a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .row.selected,
.box .row.selected:hover {
  background: #0099FF;
  color: #13474F;
}
.box .row.selected a:link,
.box .row.selected:hover a:link {
  color: #0099FF;
}
.box .row.selected a:visited,
.box .row.selected:hover a:visited {
  color: #0099FF;
}
.box .row.selected a:hover,
.box .row.selected:hover a:hover {
  color: #00C5C7;
}
.box .row.selected a:active,
.box .row.selected:hover a:active {
  color: #00C5C7;
}
.box .row.selected use,
.box .row.selected:hover use {
  color: #fff;
  fill: #fff;
}
.box .row.selected a:link use,
.box .row.selected:hover a:link use {
  color: #fff;
  fill: #fff;
}
.box .row.selected a:visited use,
.box .row.selected:hover a:visited use {
  color: #fff;
  fill: #fff;
}
.box .row.selected a:hover use,
.box .row.selected:hover a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .row.selected a:active use,
.box .row.selected:hover a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .row.selected a:link,
.box .row.selected:hover a:link {
  color: #0099FF;
}
.box .row.selected a:visited,
.box .row.selected:hover a:visited {
  color: #0099FF;
}
.box .row.selected a:hover,
.box .row.selected:hover a:hover {
  color: #00C5C7;
}
.box .row.selected a:active,
.box .row.selected:hover a:active {
  color: #00C5C7;
}
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  color: #222;
}
.box .faded {
  color: rgba(34, 34, 34, 0.3);
}
.box .price {
  color: #009B87;
}
.box .positive {
  color: #4DA400;
}
.box .negative,
.box .error {
  color: #FF2222;
}
.box .time {
  color: #376EB2;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio]),
.box textarea,
.box select {
  background: #fff;
  color: #444;
  border-color: #cccccc;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio])::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio])::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio]):-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
}
.box textarea::-webkit-input-placeholder {
  color: #aaa;
}
.box textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio]):hover,
.box textarea:hover,
.box select:hover {
  background: #fff;
  color: #444;
  border-color: #ddd;
}
.box .row.hover:hover input[type]:not([type=button]):not([type=submit]):not([type=radio]),
.box .row.hover:hover textarea,
.box .row.hover:hover select {
  background: #fff;
  color: #444;
  border-color: #ddd;
}
.box input[type]:not([type=button]):not([type=submit]):not([type=radio]):focus,
.box textarea:focus,
.box select:focus {
  background: #fff !important;
  color: #444 !important;
  border-color: #9bd7ff !important;
  outline-color: #9bd7ff !important;
}
.box a:focus {
  outline-color: #9bd7ff;
}
.box .col.field {
  color: #114b4b;
}
.box .row.hover:hover .col.field {
  color: #114b4b;
}
.box .line {
  border-top-color: #e6e6e6;
}
.box .button,
.box a.button {
  background: #0099FF;
  color: #fff !important;
}
.box .button:hover,
.box a.button:hover,
.box .button:focus,
.box a.button:focus {
  background: #0082ff;
  color: #fff !important;
}
.box .button:active,
.box a.button:active {
  background: #0082ff;
  color: #fff;
}
.box .button.selected,
.box a.button.selected {
  background: #0099FF;
  color: #fff;
}
.box .button:link,
.box a.button:link {
  color: #fff;
}
.box .button:visited,
.box a.button:visited {
  color: #fff;
}
.box .button:hover,
.box a.button:hover {
  color: #fff;
}
.box .button:active,
.box a.button:active {
  color: #fff;
}
.box .button use,
.box a.button use {
  color: #fff;
  fill: #fff;
}
.box .button a:link use,
.box a.button a:link use {
  color: #fff;
  fill: #fff;
}
.box .button a:visited use,
.box a.button a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button a:hover use,
.box a.button a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button a:active use,
.box a.button a:active use {
  color: #fff;
  fill: #fff;
}
.box .button.apply,
.box a.button.apply {
  background: #0099FF;
  color: #fff !important;
}
.box .button.apply:hover,
.box a.button.apply:hover,
.box .button.apply:focus,
.box a.button.apply:focus {
  background: #0082ff;
  color: #fff !important;
}
.box .button.apply:active,
.box a.button.apply:active {
  background: #0082ff;
  color: #fff;
}
.box .button.apply.selected,
.box a.button.apply.selected {
  background: #0099FF;
  color: #fff;
}
.box .button.apply:link,
.box a.button.apply:link {
  color: #fff;
}
.box .button.apply:visited,
.box a.button.apply:visited {
  color: #fff;
}
.box .button.apply:hover,
.box a.button.apply:hover {
  color: #fff;
}
.box .button.apply:active,
.box a.button.apply:active {
  color: #fff;
}
.box .button.apply use,
.box a.button.apply use {
  color: #fff;
  fill: #fff;
}
.box .button.apply a:link use,
.box a.button.apply a:link use {
  color: #fff;
  fill: #fff;
}
.box .button.apply a:visited use,
.box a.button.apply a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button.apply a:hover use,
.box a.button.apply a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button.apply a:active use,
.box a.button.apply a:active use {
  color: #fff;
  fill: #fff;
}
.box .button.special,
.box a.button.special {
  background: #9b56ab;
  color: #fff !important;
}
.box .button.special:hover,
.box a.button.special:hover,
.box .button.special:focus,
.box a.button.special:focus {
  background: #7900b4;
  color: #fff !important;
}
.box .button.special:active,
.box a.button.special:active {
  background: #7900b4;
  color: #fff;
}
.box .button.special.selected,
.box a.button.special.selected {
  background: #7900b4;
  color: #fff;
}
.box .button.special:link,
.box a.button.special:link {
  color: #fff;
}
.box .button.special:visited,
.box a.button.special:visited {
  color: #fff;
}
.box .button.special:hover,
.box a.button.special:hover {
  color: #fff;
}
.box .button.special:active,
.box a.button.special:active {
  color: #fff;
}
.box .button.special use,
.box a.button.special use {
  color: #fff;
  fill: #fff;
}
.box .button.special a:link use,
.box a.button.special a:link use {
  color: #fff;
  fill: #fff;
}
.box .button.special a:visited use,
.box a.button.special a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button.special a:hover use,
.box a.button.special a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button.special a:active use,
.box a.button.special a:active use {
  color: #fff;
  fill: #fff;
}
.box .button.cancel,
.box a.button.cancel {
  background: #7dd0ae;
  color: #fff !important;
}
.box .button.cancel:hover,
.box a.button.cancel:hover,
.box .button.cancel:focus,
.box a.button.cancel:focus {
  background: #31be85;
  color: #fff !important;
}
.box .button.cancel:active,
.box a.button.cancel:active {
  background: #31be85;
  color: #fff;
}
.box .button.cancel.selected,
.box a.button.cancel.selected {
  background: #31be85;
  color: #fff;
}
.box .button.cancel:link,
.box a.button.cancel:link {
  color: #fff;
}
.box .button.cancel:visited,
.box a.button.cancel:visited {
  color: #fff;
}
.box .button.cancel:hover,
.box a.button.cancel:hover {
  color: #fff;
}
.box .button.cancel:active,
.box a.button.cancel:active {
  color: #fff;
}
.box .button.cancel use,
.box a.button.cancel use {
  color: #fff;
  fill: #fff;
}
.box .button.cancel a:link use,
.box a.button.cancel a:link use {
  color: #fff;
  fill: #fff;
}
.box .button.cancel a:visited use,
.box a.button.cancel a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button.cancel a:hover use,
.box a.button.cancel a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button.cancel a:active use,
.box a.button.cancel a:active use {
  color: #fff;
  fill: #fff;
}
.box .button.disabled,
.box a.button.disabled {
  background: #a9d7ec;
  color: #fff !important;
}
.box .button.disabled:hover,
.box a.button.disabled:hover,
.box .button.disabled:focus,
.box a.button.disabled:focus {
  background: #a9d7ec;
  color: #fff !important;
}
.box .button.disabled:active,
.box a.button.disabled:active {
  background: #a9d7ec;
  color: #fff;
}
.box .button.disabled.selected,
.box a.button.disabled.selected {
  background: #a9d7ec;
  color: #fff;
}
.box .button.disabled:link,
.box a.button.disabled:link {
  color: #fff;
}
.box .button.disabled:visited,
.box a.button.disabled:visited {
  color: #fff;
}
.box .button.disabled:hover,
.box a.button.disabled:hover {
  color: #fff;
}
.box .button.disabled:active,
.box a.button.disabled:active {
  color: #fff;
}
.box .button.disabled use,
.box a.button.disabled use {
  color: #fff;
  fill: #fff;
}
.box .button.disabled a:link use,
.box a.button.disabled a:link use {
  color: #fff;
  fill: #fff;
}
.box .button.disabled a:visited use,
.box a.button.disabled a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button.disabled a:hover use,
.box a.button.disabled a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button.disabled a:active use,
.box a.button.disabled a:active use {
  color: #fff;
  fill: #fff;
}
.box .button.delete,
.box a.button.delete {
  background: #d07d7d;
  color: #fff !important;
}
.box .button.delete:hover,
.box a.button.delete:hover,
.box .button.delete:focus,
.box a.button.delete:focus {
  background: #c95454;
  color: #fff !important;
}
.box .button.delete:active,
.box a.button.delete:active {
  background: #c95454;
  color: #fff;
}
.box .button.delete.selected,
.box a.button.delete.selected {
  background: #c95454;
  color: #fff;
}
.box .button.delete:link,
.box a.button.delete:link {
  color: #fff;
}
.box .button.delete:visited,
.box a.button.delete:visited {
  color: #fff;
}
.box .button.delete:hover,
.box a.button.delete:hover {
  color: #fff;
}
.box .button.delete:active,
.box a.button.delete:active {
  color: #fff;
}
.box .button.delete use,
.box a.button.delete use {
  color: #fff;
  fill: #fff;
}
.box .button.delete a:link use,
.box a.button.delete a:link use {
  color: #fff;
  fill: #fff;
}
.box .button.delete a:visited use,
.box a.button.delete a:visited use {
  color: #fff;
  fill: #fff;
}
.box .button.delete a:hover use,
.box a.button.delete a:hover use {
  color: #fff;
  fill: #fff;
}
.box .button.delete a:active use,
.box a.button.delete a:active use {
  color: #fff;
  fill: #fff;
}
.box .message {
  background: #8ccaef;
  border-color: transparent;
  color: #0066ff;
}
.box .message a:link,
.box .message a:visited {
  color: #0033d2;
}
.box .message a:hover,
.box .message a:active {
  color: #0642ff;
}
.box .message.error {
  background: #dc8a8a;
  border-color: transparent;
  color: #b30b0b;
}
.box .message.error a:link,
.box .message.error a:visited {
  color: #ff0000;
}
.box .message.error a:hover,
.box .message.error a:active {
  color: #ff3333;
}
.box .message.alert {
  background: #dbdb86;
  border-color: transparent;
  color: #d79c0c;
}
.box .message.alert a:link,
.box .message.alert a:visited {
  color: #ffb500;
}
.box .message.alert a:hover,
.box .message.alert a:active {
  color: #ffc433;
}
.box .message.confirm {
  background: #92e061;
  border-color: transparent;
  color: #228f4b;
}
.box .message.confirm a:link,
.box .message.confirm a:visited {
  color: #00aa40;
}
.box .message.confirm a:hover,
.box .message.confirm a:active {
  color: #00dd53;
}
.box table.spreadsheet thead > tr {
  background: #d1eff2;
  color: #2a898d;
}
.box table.spreadsheet thead > tr a:link {
  color: #0c7946;
}
.box table.spreadsheet thead > tr a:visited {
  color: #0c7946;
}
.box table.spreadsheet thead > tr a:hover {
  color: #00ab5b;
}
.box table.spreadsheet thead > tr a:active {
  color: #00ab5b;
}
.box table.spreadsheet tbody > tr {
  background: #fafafa;
  color: #444;
}
.box table.spreadsheet tbody > tr a:link {
  color: #009B87;
}
.box table.spreadsheet tbody > tr a:visited {
  color: #009B87;
}
.box table.spreadsheet tbody > tr a:hover {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr a:active {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr a:link use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr a:visited use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr a:hover use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr a:active use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr a.text:link {
  color: #444;
}
.box table.spreadsheet tbody > tr a.text:visited {
  color: #444;
}
.box table.spreadsheet tbody > tr a.text:hover {
  color: #444;
}
.box table.spreadsheet tbody > tr a.text:active {
  color: #444;
}
.box table.spreadsheet tbody > tr:hover {
  background: #ddf0f0;
  color: #1e3b41;
}
.box table.spreadsheet tbody > tr:hover a:link {
  color: #009B87;
}
.box table.spreadsheet tbody > tr:hover a:visited {
  color: #009B87;
}
.box table.spreadsheet tbody > tr:hover a:hover {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr:hover a:active {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr:hover use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr:hover a:link use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr:hover a:visited use {
  color: #009B87;
  fill: #009B87;
}
.box table.spreadsheet tbody > tr:hover a:hover use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr:hover a:active use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr:hover a.text:link {
  color: #1e3b41;
}
.box table.spreadsheet tbody > tr:hover a.text:visited {
  color: #1e3b41;
}
.box table.spreadsheet tbody > tr:hover a.text:hover {
  color: #1e3b41;
}
.box table.spreadsheet tbody > tr:hover a.text:active {
  color: #1e3b41;
}
.box table.spreadsheet tbody > tr.selected {
  background: #5EC7CE;
  color: #00343e;
}
.box table.spreadsheet tbody > tr.selected a:link {
  color: #009B87;
}
.box table.spreadsheet tbody > tr.selected a:visited {
  color: #009B87;
}
.box table.spreadsheet tbody > tr.selected a:hover {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a:active {
  color: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a:link use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a:visited use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a:hover use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a:active use {
  color: #00C5C7;
  fill: #00C5C7;
}
.box table.spreadsheet tbody > tr.selected a.text:link {
  color: #00343e;
}
.box table.spreadsheet tbody > tr.selected a.text:visited {
  color: #00343e;
}
.box table.spreadsheet tbody > tr.selected a.text:hover {
  color: #00343e;
}
.box table.spreadsheet tbody > tr.selected a.text:active {
  color: #00343e;
}
.box table.spreadsheet tbody > tr:nth-child(even) {
  background: #f2f2f2;
  color: #3c3c3c;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:link {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:visited {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:hover {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:active {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even) use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:link use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:visited use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:hover use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even) a:active use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even) a.text:link {
  color: #3c3c3c;
}
.box table.spreadsheet tbody > tr:nth-child(even) a.text:visited {
  color: #3c3c3c;
}
.box table.spreadsheet tbody > tr:nth-child(even) a.text:hover {
  color: #3c3c3c;
}
.box table.spreadsheet tbody > tr:nth-child(even) a.text:active {
  color: #3c3c3c;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover {
  background: #d9eeee;
  color: #193137;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:link {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:visited {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:hover {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:active {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:link use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:visited use {
  color: #008c7a;
  fill: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:hover use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a:active use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a.text:link {
  color: #193137;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a.text:visited {
  color: #193137;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a.text:hover {
  color: #193137;
}
.box table.spreadsheet tbody > tr:nth-child(even):hover a.text:active {
  color: #193137;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected {
  background: #5ac6cd;
  color: #00272f;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:link {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:visited {
  color: #008c7a;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:hover {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:active {
  color: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:link use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:visited use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:hover use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a:active use {
  color: #00b6b8;
  fill: #00b6b8;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a.text:link {
  color: #00272f;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a.text:visited {
  color: #00272f;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a.text:hover {
  color: #00272f;
}
.box table.spreadsheet tbody > tr:nth-child(even).selected a.text:active {
  color: #00272f;
}
.box.bg {
  background: #eee;
}
.box .section,
.popup {
  background: #fafafa;
  border-color: #dadada;
  color: #444;
}
.box .section a.no-link,
.popup a.no-link {
  color: #444 !important;
}
.box .tabs li.selected > .row {
  border-bottom-color: #0099FF;
}
.box .edit-tabs ul.tabs .row {
  background: #dadada;
  color: #444;
}
.box .edit-tabs ul.tabs .row a:link {
  color: #009B87;
}
.box .edit-tabs ul.tabs .row a:visited {
  color: #009B87;
}
.box .edit-tabs ul.tabs .row a:hover {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row a:active {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row use {
  color: #555;
  fill: #555;
}
.box .edit-tabs ul.tabs .row a:link use {
  color: #555;
  fill: #555;
}
.box .edit-tabs ul.tabs .row a:visited use {
  color: #555;
  fill: #555;
}
.box .edit-tabs ul.tabs .row a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .edit-tabs ul.tabs .row a.text:link {
  color: #444;
}
.box .edit-tabs ul.tabs .row a.text:visited {
  color: #444;
}
.box .edit-tabs ul.tabs .row a.text:hover {
  color: #444;
}
.box .edit-tabs ul.tabs .row a.text:active {
  color: #444;
}
.box .edit-tabs ul.tabs .row.hover:hover {
  background: #d0d0d0;
  color: #33494C;
}
.box .edit-tabs ul.tabs .row.hover:hover a:link {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.hover:hover a:visited {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.hover:hover a:hover {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.hover:hover a:active {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.hover:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row.hover:hover a:link use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row.hover:hover a:visited use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row.hover:hover a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row.hover:hover a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .edit-tabs ul.tabs .row.selected,
.box .edit-tabs ul.tabs .row.selected:hover {
  background: #9bd7ff;
  color: #13474F;
}
.box .edit-tabs ul.tabs .row.selected a:link,
.box .edit-tabs ul.tabs .row.selected:hover a:link {
  color: #00B4FF;
}
.box .edit-tabs ul.tabs .row.selected a:visited,
.box .edit-tabs ul.tabs .row.selected:hover a:visited {
  color: #00B4FF;
}
.box .edit-tabs ul.tabs .row.selected a:hover,
.box .edit-tabs ul.tabs .row.selected:hover a:hover {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.selected a:active,
.box .edit-tabs ul.tabs .row.selected:hover a:active {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.selected use,
.box .edit-tabs ul.tabs .row.selected:hover use {
  color: #185A64;
  fill: #185A64;
}
.box .edit-tabs ul.tabs .row.selected a:link use,
.box .edit-tabs ul.tabs .row.selected:hover a:link use {
  color: #185A64;
  fill: #185A64;
}
.box .edit-tabs ul.tabs .row.selected a:visited use,
.box .edit-tabs ul.tabs .row.selected:hover a:visited use {
  color: #185A64;
  fill: #185A64;
}
.box .edit-tabs ul.tabs .row.selected a:hover use,
.box .edit-tabs ul.tabs .row.selected:hover a:hover use {
  color: #009B87;
  fill: #009B87;
}
.box .edit-tabs ul.tabs .row.selected a:active use,
.box .edit-tabs ul.tabs .row.selected:hover a:active use {
  color: #00A46C;
  fill: #00A46C;
}
.box .edit-tabs ul.tabs .row.selected a:link,
.box .edit-tabs ul.tabs .row.selected:hover a:link {
  color: #00B4FF;
}
.box .edit-tabs ul.tabs .row.selected a:visited,
.box .edit-tabs ul.tabs .row.selected:hover a:visited {
  color: #00B4FF;
}
.box .edit-tabs ul.tabs .row.selected a:hover,
.box .edit-tabs ul.tabs .row.selected:hover a:hover {
  color: #00C5C7;
}
.box .edit-tabs ul.tabs .row.selected a:active,
.box .edit-tabs ul.tabs .row.selected:hover a:active {
  color: #00C5C7;
}
.box header {
  background: #222222;
  color: #ddd;
}
.box header a.no-link {
  color: #ddd !important;
}
.editor-tab .box.bg {
  background-color: #222;
}
.editor-tab .box use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box a:link use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box a:visited use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box a:hover use {
  color: #0099FF;
  fill: #0099FF;
}
.editor-tab .box a:active use {
  color: #0099FF;
  fill: #0099FF;
}
.editor-tab .box .row {
  background: transparent;
  color: #eee;
}
.editor-tab .box .row a:link {
  color: #0099FF;
}
.editor-tab .box .row a:visited {
  color: #0099FF;
}
.editor-tab .box .row a:hover {
  color: #0099FF;
}
.editor-tab .box .row a:active {
  color: #0099FF;
}
.editor-tab .box .row use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box .row a:link use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box .row a:visited use {
  color: #eee;
  fill: #eee;
}
.editor-tab .box .row a:hover use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row a:active use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row a.text:link {
  color: #eee;
}
.editor-tab .box .row a.text:visited {
  color: #eee;
}
.editor-tab .box .row a.text:hover {
  color: #eee;
}
.editor-tab .box .row a.text:active {
  color: #eee;
}
.editor-tab .box .row.hover:hover {
  background: #004d81;
  color: #a0d9ff;
}
.editor-tab .box .row.hover:hover a:link {
  color: #0099FF;
}
.editor-tab .box .row.hover:hover a:visited {
  color: #0099FF;
}
.editor-tab .box .row.hover:hover a:hover {
  color: #0099FF;
}
.editor-tab .box .row.hover:hover a:active {
  color: #0099FF;
}
.editor-tab .box .row.hover:hover use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.hover:hover a:link use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.hover:hover a:visited use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.hover:hover a:hover use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.hover:hover a:active use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected,
.editor-tab .box .row.selected:hover {
  background: #004d81;
  color: #a0d9ff;
}
.editor-tab .box .row.selected a:link,
.editor-tab .box .row.selected:hover a:link {
  color: #0099FF;
}
.editor-tab .box .row.selected a:visited,
.editor-tab .box .row.selected:hover a:visited {
  color: #0099FF;
}
.editor-tab .box .row.selected a:hover,
.editor-tab .box .row.selected:hover a:hover {
  color: #0099FF;
}
.editor-tab .box .row.selected a:active,
.editor-tab .box .row.selected:hover a:active {
  color: #0099FF;
}
.editor-tab .box .row.selected use,
.editor-tab .box .row.selected:hover use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected a:link use,
.editor-tab .box .row.selected:hover a:link use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected a:visited use,
.editor-tab .box .row.selected:hover a:visited use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected a:hover use,
.editor-tab .box .row.selected:hover a:hover use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected a:active use,
.editor-tab .box .row.selected:hover a:active use {
  color: #a0d9ff;
  fill: #a0d9ff;
}
.editor-tab .box .row.selected a:link,
.editor-tab .box .row.selected:hover a:link {
  color: #0099FF;
}
.editor-tab .box .row.selected a:visited,
.editor-tab .box .row.selected:hover a:visited {
  color: #0099FF;
}
.editor-tab .box .row.selected a:hover,
.editor-tab .box .row.selected:hover a:hover {
  color: #0099FF;
}
.editor-tab .box .row.selected a:active,
.editor-tab .box .row.selected:hover a:active {
  color: #0099FF;
}
.editor-tab:hover > .box.bg {
  background-color: #00295e;
}
