<li>
    <div class="row hover item file-{{id}} type-{{type}}" onclick="{{onclick}}" data-type="{{type}}" data-path="{{path}}">
        <div class="row">
            <div class="col icon pad-right pad-left-sm">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-{{icon}}" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            <div class="col label" style="max-width: calc(100% - 45px);" title="{{title}}">{{title}}</div>
            {{delete}}
            <div class="col right delete-btn delete-{{type}}">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-close" x="0" y="0" width="32" height="32"></use>
                </svg>
            </div>
            {{/delete}}
        </div>
        <div class="line"></div>
    </div>
</li>
