<div class="row website-dev-key">
    <div class="col">
        <p>
            The keys below are used for authenticating cross-domain API requests. All requests must be made over HTTPS using TLS.
            You can <a href="https://saber.datasilk.io/developers/publicapi.html" target="_blank">learn more</a> 
            about Saber's public API system on the official website.
        </p>
        <table class="spreadsheet">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Developer Key</td>
                </tr>
            </thead>
            <tbody>
                {{dev-keys}}
            </tbody>
        </table>
    </div>
</div>