<div class="row">
    <div class="email-clients col four tablet-six mobile-twelve">
        <h4>Email Clients</h4>
        <div class="row input">
            <select id="emailclients">{{emailclients}}</select>
        </div>
        <form autocomplete="chrome-off">
            {{emailclients.forms}}
            <div class="row text-right pad-height">
                <button class="save apply">Save Email Client</button>
            </div>
        </form>
    </div>
    <div class="email-actions col right seven tablet-five mobile-twelve">
        <h4>Email Actions</h4>
        <p>
            When performing various actions, the user may receive an email from your website. 
            Please select which preferred email client will send emails on your behalf to your
            users for these various actions.
        </p>
        <hr/>
        {{email-actions}}
        <div class="row text-right pad-height">
            <button class="save apply">Save Email Actions</button>
        </div>
    </div>
</div>