<div class="row email-action" data-key="{{action.key}}">
    <div class="row">
        <h5>{{action.name}} Email</h5>
        {{template-file}}
            <p>Uses the file <span class="code string">emails/{{action.templatefile}}</span> to generate emails.</p>
        {{/template-file}}
        {{any-file}}
            <p>User can select any HTML file from <span class="code string">emails/</span> folder to generate emails.</p>
        {{/any-file}}
    </div>
    <div class="row">
        <div class="col four">
            <div class="row field">Email Client</div>
            <div class="row input">
                <select id="emailaction_{{action.key}}">{{action.options}}</select>
            </div>
        </div>
        {{user-subject}}
        <div class="col eight">
            <div class="row field">Subject</div>
            <div class="row input">
                <input type="text" id="emailaction_{{action.key}}_subject" value="{{action.subject}}" spellcheck="false" />
            </div>
        </div>
        {{/user-subject}}
    </div>
    <hr />
</div>