<div class="row">
    <div class="col">
        <p>
            Manage a list of languages that you've created to use when writing content for your web pages. Enlish (en)
            is the default language for all Saber websites, and so this list does not include English.
        </p>
    </div>
</div>
<div class="item-list">
    <table class="spreadsheet">
        <thead>
            <tr>
                <td>Language</td>
                <td>abbreviation</td>
                <td></td>
            </tr>
        </thead>
        <tbody>{{list}}</tbody>
    </table>
</div>