<div class="row passwords">
    <div class="row">
        <div class="col six tablet-sm-twelve">
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="2" id="pass_minchars" value="{{pass.minchars}}" />
                </div>
                <div class="col text">Minimum Characters</div>
            </div>
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="2" id="pass_maxchars" value="{{pass.maxchars}}" />
                </div>
                <div class="col text">Maximum Characters</div>
            </div>
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="1" id="pass_minnumbers" value="{{pass.minnumbers}}" />
                </div>
                <div class="col text">Minimum Numbers</div>
            </div>
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="1" id="pass_minuppercase" value="{{pass.minuppercase}}" />
                </div>
                <div class="col text">Minimum Uppercase Letters</div>
            </div>
        </div>
        <div class="col six tablet-sm-twelve">
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="1" id="pass_minspecial" value="{{pass.minspecialchars}}" />
                </div>
                <div class="col text">Minimum Special Characters</div>
            </div>
            <div class="row hover">
                <div class="col input">
                    <input type="number" maxlength="1" id="pass_consecutivechars" value="{{pass.maxconsecutivechars}}" title="The total amount of consecutive characters (same characters in a row) allowed before invalidating a password" />
                </div>
                <div class="col text">Max Consecutive Characters</div>
            </div>
            <div class="row hover">
                <div class="col input">
                    <input type="checkbox" id="pass_nospaces" {{nospaces}}checked="checked"{{/nospaces}} />
                </div>
                <div class="col text"><label for="pass_nospaces">No Spaces Allowed</label></div>
            </div>
        </div>
    </div>
    <div class="row text-right pad-height">
        <button class="save apply">Save Password Settings</button>
    </div>
</div>