<div class="row hover margin-bottom pad">
    <div class="col six tablet-twelve pad-right">
        <div class="row pad-bottom api-path">
            <span class="color path">{{path}}</span>
        </div>
        <div class="row api-description">
            <span>{{description}}</span>
        </div>
    </div>
    <div class="col six tablet-twelve">
        <table class="spreadsheet">
            <thead><tr><td>Parameter</td><td>Data Type</td></tr></thead>
            <tbody>{{parameters}}</tbody>
        </table>
    </div>
</div>